h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
}

body {
    background-color:rgb(156, 153, 144);
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
}

.cuadros {
    text-align: center;
    background: rgb(235, 235, 235);
    background: linear-gradient(135deg, rgba(235, 235, 235, 1) 34%, rgba(192, 192, 192, 1) 50%);
    width: 300px;
    min-height: 350px;
    margin: 30px;
    border-radius: 10px;
    border-color: black;
    vertical-align: top;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}



.cuadros p {
    min-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

.cuadros h3 {
    text-size-adjust: 10px;
    background: rgb(146, 146, 146);
    background: linear-gradient(0deg, rgba(146, 146, 146, 1) 0%, rgba(39, 39, 39, 1) 50%, rgba(151, 150, 150, 1) 100%);
    margin: 0px;
    padding: 5px;
    color: whitesmoke;
}

.centro {
    text-align: center;
}

.cabecera {
    background: linear-gradient(0deg, rgb(212, 212, 212) 0%, rgb(143, 143, 143) 50%, rgb(211, 211, 211) 100%);
    border-radius: 50px;

}